<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467690109404-4mboda3bcbphrmc606qkvken02dsrjmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467690109404-4mboda3bcbphrmc606qkvken02dsrjmu</string>
	<key>API_KEY</key>
	<string>AIzaSyDH6R-dSM-p_1Fid3JU2O8dUHMinV1Iacs</string>
	<key>GCM_SENDER_ID</key>
	<string>467690109404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>amandadetofol.projeto-marvel</string>
	<key>PROJECT_ID</key>
	<string>projeto-marvel-9b2d6</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-marvel-9b2d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467690109404:ios:1e91493a5fe0859c057719</string>
</dict>
</plist>